@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .loader-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  