@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap");
.body {
  font-family: "Sofia", sans-serif;
}
.html,
.body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  margin-bottom: 0;
  margin-right: 0rem;
}
.fa-code {
  color: aqua;
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  /*background: linear-gradient(45deg, rgb(104, 2, 2), rgb(250, 2, 2));
*/
}
a {
  color: rgb(255, 255, 255) !important;
  font-family: cursive;
  font-size: medium;
}

.list {
  list-style-type: none;
  background: linear-gradient(45deg, rgb(121, 4, 4), rgb(243, 33, 6));
  height: 50%;
  display: flex;
  justify-content: right;
  align-items: right;
  position: relative;
}
.items {
  margin-right: 20px;
  font-size: 20px;
  text-transform: uppercase;
  color: #f1f1f1;
  cursor: pointer;
}

.btn {
  display: none;
  position: absolute;
  right: 10px;
  top: 7px;
  padding: 5px;
  color: #00ffff;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .list {
    flex-direction: column;
    height: auto;
  }
  .items:nth-child(1) {
    border-top: 1px solid rgba(89, 6, 245, 0.555);
    margin-top: 50px;
  }
  .items {
    width: 100%;
    border-top: 1px solid rgba(21, 5, 252, 0.555);
    text-align: center;
    margin-right: 0px;
    padding: 10px 0;
  }
  .btn {
    display: block;
  }
}
/*nav ul li{
  text-transform: uppercase;
}
.navbar-nav > li >a.active, .navbar-nav > li >a:focus{
  border-top: 0.1875rem solid orange;

}
.navbar-nav > li >a{
  color: white !important;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  border-top: 0.1875rem solid rgb(255,255,255);

}
.navbar-brand{
  padding: 0;
  
}
.navbar-nav > li >a:hover{
  border-top: 0.1875rem solid orange;
}

nav a.nav-link{
font-weight: 500;
letter-spacing: 0.0375rem;
cursor: pointer;
}*/

.fa {
  width: 16.25rem;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/**NavBar*/

.MeImg {
  width: 16rem;
  border-radius: 50%;
  padding: 0.3rem;
  border: 1px solid;
  border-color: #00ffff;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.main h1 {
  font-family: "Pacifico";
}

.MeImgWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

#particles-js {
  height: 100vh;
  width: 100vw;
}

#particles-js canvas {
  position: absolute;
  z-index: 1;
}

/**Header*/
.main {
  /*background:url(./components/img/bg3.jpg)no-repeat;*/
   /* background-color: #000000;  */
  background-size: cover;
  background-position: center;
  text-align: center;
  width: 100%;
  height: 100%;
  z-index: -1;
  border: 4px solid #00ffff;
  border-bottom: 0px;
}
.main h1 {
  color: rgb(239, 255, 22);
  font-family: cursive;
}
#container-fluid {
  height: auto;
  width: auto;
  margin: auto;
  position: relative;
  top: 60rem;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.header-wrapper {
  position: relative;
  /* background: url(./components/img/bg2.jpg);
  background-size: cover;*/
  /* background-color: #180a29 !important; */
  background-color: #000000 !important;
  background-size: cover;
  background-position: center;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /* bottom: 0; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #00ffff;
  z-index: 1;
}

.typed-text {
  font-size: 30px;
  color: #00ffff;
}
/**About*/
.loader {
  /* background-color: #180a29 !important; */
  background-color: #000000 !important;
  background-size: cover;
  margin: auto;
  text-align: center;
  align-items: center;
  padding: 20%;
  padding-left: 45%;
  padding-top: 23%;
}
.about {
  /*background:url(./components/img/bg3.jpg)no-repeat;
  background-size: cover;*/
  /* background-color: #000000 !important; */
  background-size: cover;
  margin: auto;
  text-align: center;
  border: 4px solid #00ffff;
  border-bottom: 0px;
}
.card-title {
  color: #00ddff !important;
}
.about p,
h2 {
  color: rgb(12, 243, 212);
  font-family: cursive;
  font-size: larger;
}
.experience {
  /*background:url(./components/img/bg3.jpg)no-repeat;
  background-size: cover;*/
  /* background-color: #180a29 !important; */
  /* background-color: #000000 !important; */
  background-size: cover;
  margin: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  border: 4px solid #00ffff;
  border-bottom: 0px;
}
.education p,
h3,
h6 {
  color: #00ffff;
  font-family: cursive;
}
.box{
  box-shadow: 5px 5px 15px #00ffff !important;
}
.card {
  /* background-color: #180a29 !important; */
  background-color: #000000 !important;
  color: #00ffff;
  margin-bottom: 10px;
  margin-left: 10px;
  border-radius: 0;
  box-shadow: 5px 5px 15px #00ffff;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
}
.card:hover {
  background-color: #00ffff !important;
  transition: 0.5s;
  color: #180a29;
  border-radius: 5px;
  border: none;
  box-shadow: 5px, 5px, 10px, #180a29;
}
.card-title:hover {
  color: #180a29 !important;
}
h1 {
  font-family: cursive;
}
.resume {
  background-color: #00ddff;
  border-radius: 10%;
  font-size: 20px;
  font-family: cursive;
}
.education {
  /*background:url(./components/img/bg3.jpg)no-repeat;
  background-size: cover;*/
  /* background-color: #180a29 !important; */
  /* background-color: #000000 !important; */
  background-size: cover;
  margin: auto;
  text-align: center;
  align-items: center;
  border: 4px solid #00ffff;
  border-bottom: 0px;
}
.project {
  /*background:url(./components/img/bg3.jpg)no-repeat;
  background-size: cover;*/
  /* background-color: #180a29 !important; */
  /* background-color: #000000 !important; */
  background-size: cover;
  margin: auto;
  text-align: center;
  width: 100%;
  border: 4px solid #00ffff;
  border-bottom: 0px;
}
/**Contact*/

.social-container {
  /* background: url(./components/img/bg3.jpg)no-repeat;
  background-size: cover;*/
  /* background-color: #180a29 !important; */
  /* background-color: #000000 !important; */
  background-size: cover;
  padding: 25px 50px;
  text-align: center;
  width: 100%;
  margin: auto;
}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;

  /*border-radius: 50%;*/
}
a.navbar-brand {
  color: #00ffff;
}
a.social:hover {
  transform: translateY(-2px);
}
a.youtube {
  color: #eb3223 !important;
}

a.facebook {
  color: #4968ad !important;
}
a.instagram {
  color: #e1306c !important;
}
a.twitter {
  color: #49a1eb !important;
}

a.linkedin {
  color: #49a1eb !important;
}
a.github {
  color: #4e5050 !important;
}
.contact h2 {
  font-size: 29px;
}
.footer {
  /* background-color: #180a29 !important; */
  background-color: #000000 !important;
  background-size: cover;
  margin: auto;
  text-align: center;
  width: 100%;
  border: 4px solid #00ffff;
  border-top: 0px;
}
.footer p {
  color: #00ffff;
}
.contact {
  /* background-color: #180a29 !important; */
  /* background-color: #000000 !important; */
  background-size: cover;
  display: block;
  margin: auto;
  text-align: center;
  width: 100%;
  border: 4px solid #00ffff;
  border-bottom: 0px;
}
a.gmail {
  color: #eb3223 !important;
}
a.hackerrank {
  color: black;
}
.contact h3 {
  color: black;
}
.skills {
  /*background:url(./components/img/bg3.jpg)no-repeat;
  background-size: cover;*/
  /* background-color: #180a29 !important; */
  /* background-color: #000000 !important; */
  background-size: cover;
  margin: auto;
  text-align: center;
  width: 100%;
  border: 4px solid #00ffff;
  border-bottom: 0px;
}
.card-example::-webkit-scrollbar {
  display: none;
  align-items: center;
}
.skills .card {
  background-color: #0ee1fd;
  align-items: center;
}
.skills h4 {
  color: #00ffff;
}
