@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

.body{
  font-family: 'Roboto Condensed' sans-serif;
}
.fa-code{
  color: aqua;
}
nav ul li{
  text-transform: uppercase;
}
.navbar-nav > li >a.active, .navbar-nav > li >a:focus{
  border-top: 0.1875rem solid orange;

}
.navbar-nav > li >a{
  color: white !important;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  border-top: 0.1875rem solid rgb(255,255,255);

}
.navbar-brand{
  padding: 0;
  
}
.navbar-nav > li >a:hover{
  border-top: 0.1875rem solid orange;
}

nav a.nav-link{
font-weight: 500;
letter-spacing: 0.0375rem;
cursor: pointer;
}

.fa{
  width: 16.25rem;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/**NavBar*/

.MeImg {
  width: 16rem;
  border-radius: 50%;
  padding: .3rem;
  border: 1px solid;
  border-color: indigo;
}

.MeImgWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

/**Header*/

.header-wrapper {
  position: relative;
  background: url(./components/bridge_purple.jpg);
  background-size: cover;
  background-position: center;
  height: 20vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /* bottom: 0; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 1;
}

.typed-text {
  font-size: 2rem;
  color: white;
}

/**About*/
.about{
	background-color:#00FFFF;
	margin:auto;
	text-align:center;
}

.education{
	background-color:#87CEFA;
	margin:auto;
	text-align:center;
	
}